# Virtual environment
bin/
include/
lib/
pyvenv.cfg

.cache
*.pyc
node_modules
yarn-error.log

/public
# Build directory
/build
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

.Python

config.yaml

/fit
/FIT_OUT
/webdav-db
/webdav-fit
/garmin-fit
garminBak.db
/coros-fit
/fit-coros
fit-garmin
.env
coros.db
garmin.db
_token_data
/db